<!DOCTYPE html>
<html>
    <head>
        <title>E-LIBRARY</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div class="background">
            <div class="navbar">
                <img src="~/images/logo3.jpg" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">New Arrival</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Review</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>WELCOME TO OUR E-LIBRARY</h1><br><br>
                <video autoplay muted>
                    <source src="~/images/video.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
                  </video><br><br>
            <div>
                <button type="button"><span></span>Log in</button>
                <button type="button"><span></span>Sign up</button><br>
                
            </div>
            </div>
        </div>
    
        <footer>
            <h3>University of Sialkot:E-Libarary</h3>
            <p><a href="http://uskt.edu.pk">www.uskt.edu.pk</a></p>
            <p><a href="https://www.facebook.com/uniofsialkot/">Follow us on Facebook!</a></p>
            <p></p>
            <P>2022.E-Libarary,Made By Farhan Tariq</P>
          </footer>
        
          
    </body>
</html>