<link href="~/css/stylesheet1.css" rel="stylesheet" />
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Welcome TO Our E Libaray</p>
</div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/profile-pic.png" / alt="Museeb" style="width:100%">
            <div class="container">
                <h2>Museeb Khalid</h2>
                <p class="title">CEO & Founder</p>
                <p>Museeb@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/profile-pic (1).png" / alt="Farhan" style="width:100%">
            <div class="container">
                <h2>Farhan Tariq</h2>
                <p class="title">Art Director</p>
                <p>Farhan@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
                       <img src="~/images/profile-pic (2).png" / alt="Uzair" style="width:10px; height:10px">
            <div class="container">
                <h2>Uzair Ali</h2>
                <p class="title">Designer</p>
                <p>Uzair@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>