@{
    ViewData["Title"] = "Documents";
}


                                        
<html>
    <head>
    <link href="~/css/stylesheet2.css" rel="stylesheet" />

    </head>
    <body>
    <div class="book1">
        
        <a href="https://books.google.com.pk/books?id=aGjaBTbT0o0C&lpg=PP1&dq=html%20and%20css%20book&pg=PP1#v=onepage&q=html%20and%20css%20book&f=false">
            <img src="~/images/content.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            HTML & CSS 
        </h6>
    </div>


    <br /><br />

    <div class="book2">
        
        <a href="https://books.google.com.pk/books?id=p1v6DwAAQBAJ&lpg=PP1&dq=javascript&pg=PP1#v=onepage&q=javascript&f=false">
            <img src="~/images/content1.jpeg" class="rounded float-right">
        </a>
        <h6>
            ELOQUENT JAVASCRIPT
        </h6>
    </div>
    <br /><br />
    <div class="book3">
        <a href="https://books.google.com.pk/books?id=gobuDQAAQBAJ&lpg=PP1&dq=computer%20science&pg=PP1#v=onepage&q=computer%20science&f=false">
            <img src="~/images/content2.jpeg" class="rounded float-left" />
        </a>
        <br />
        <h6>
            COMPUTER SCIENCES
        </h6>
    </div>
    
    <div class="book4">
        <a href="https://books.google.com.pk/books?id=N0EEAAAAMBAJ&lpg=PP1&dq=books&pg=PP1#v=onepage&q=books&f=false">
        <img src="~/images/content3.jpeg" class="rounded float-left" />
        </a>
        <h6>
        LIFE
        </h6>
   </div>
   <br /><br />
    <div claas="book5">
        <a href="https://books.google.com.pk/books?id=cWYEAAAAMBAJ&lpg=PA1&dq=books&pg=PA1#v=onepage&q=books&f=false">
            <img src="~/images/content4.jpeg" class="rounded float-left" />
        </a>
        <h6>
            BOY'S LIFE
        </h6>
   </div>
    <br />
    <br />
    <div claas="book6">
        <a href="https://books.google.com.pk/books?id=cWYEAAAAMBAJ&lpg=PA1&dq=books&pg=PA1#v=onepage&q=books&f=false">
            <img src="~/images/content5.jpeg" class="rounded float-left" />
        </a>
        <br />
        <h6>
            POPULAR SCIENCES
        </h6>
    </>
    <br /><br />
        <div claas="book7">
        <a href="https://books.google.com.pk/books?id=RdMDAAAAMBAJ&lpg=PP1&dq=books&pg=PP1#v=onepage&q=books&f=false">
            <img src="~/images/content6.jpeg" class="rounded float-left" />
        </a>
        <br />
        <h6>
            POPULAR MECHANICS
        </h6>
    </div>
    <br />
    <br />
    <div class="book8">
        <a href="https://books.google.com.pk/books?id=xYgCAQAAQBAJ&lpg=PA1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PA1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content7.jpeg" class="rounded float-left" />
        </a>
        <br />
        <h6>
            Fundamentals of Computer Programming with C#: The Bulgarian C# Book
        </h6>
    </div>
    <br />
    <br />
    <div class="book9">
        <a href="https://books.google.com.pk/books?id=NLngYyWFl_YC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content8.jpeg" class="rounded float-left" />
        </a>
        <br />
        <h6>
            Introduction To Algorithms
        </h6>
    </div>
    <div class="book10">

        <a href="https://books.google.com.pk/books?id=OLsDEAAAQBAJ&lpg=PA1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PA1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content9.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            The Black Book of the Programmer
        </h6>
    </div>
    <br /><br />
    <div class="book11">

        <a href="https://books.google.com.pk/books?id=2kMIqdfyT8kC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content10.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            Coders at Work
        </h6>
    </div>
    <br />
    <br />
    <div class="book12">

        <a href="https://books.google.com.pk/books?id=ywCfDwAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content11.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            All of Programming
        </h6>
    </div>
    <br />
    <br />
    <div class="book13">

        <a href="https://books.google.com.pk/books?id=ZDBbG41-BA8C&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content12.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            The Book of Ruby
        </h6>
    </div>
    <br />
    <br />
    <div class="book14">

        <a href="https://books.google.com.pk/books?id=XCTGDwAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q&f=false">
            <img src="~/images/content13.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            Summary of Can’t Hurt Me
        </h6>
    </div>
    <br />
    <br />
    <div class="book15">

        <a href="https://books.google.com.pk/books?id=nBuA0hmspdMC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content14.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            Effective JavaScript
        </h6>
    </div>
    <br />
    <br />
    <div class="book16">

            <a href="https://books.google.com.pk/books?id=tmNNfSkfTlcC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q&f=false">
            <img src="~/images/content15.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Design Patterns: Elements of Reusable Object-Oriented Software
        </h6>
    </div>
    <br />
    <br />
    <div class="book17">

            <a href="https://books.google.com.pk/books?id=UTgFCAAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content16.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Refactoring: Improving the Design of Existing Code
        </h6>
    </div>
    <br />
    <br />
    <div class="book18">

            <a href="https://books.google.com.pk/books?id=Jr6uBAAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content17.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
            Becoming a Better Programmer: A Handbook for People Who Care About Code
        </h6>
    </div>
    <br />
    <br />
    <div class="book19">

            <a href="https://books.google.com.pk/books?id=yATuDwAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content18.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Deep Learning for Coders with fastai and PyTorch
        </h6>
    </div>
    <br />
    <br />
    <div book20>

            <a href="https://books.google.com.pk/books?id=PZhIDwAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content19.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Web Programming with HTML5, CSS, and JavaScript
        </h6>
    </div>
    <br />
    <br />
    <div book21>

            <a href="https://books.google.com.pk/books?id=-U155tRMLJgC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q&f=false">
            <img src="~/images/content20.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Understanding and Using C Pointers: Core Techniques for Memory Management
        </h6>
    </div>
    <br />
    <br />
     <div book22>

            <a href="https://books.google.com.pk/books?id=FZD6AQAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content21.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Essentials of Programming Languages, third edition
        </h6>
    </div>
    <br />
    <br />
    <div class="book23">

            <a href="https://books.google.com.pk/books?id=4rtNEAAAQBAJ&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content22.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Structure and Interpretation of Computer Programs: JavaScript Edition
        </h6>
    </div>
    <br />
    <br />
     <div class="book24">

            <a href="https://books.google.com.pk/books?id=KXQrAQAAQBAJ&lpg=PR1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PR1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content23.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Head First Java: A Brain-Friendly Guide
        </h6>
    </div>
    <br />
    <br />
     <div class="book25">

            <a href="https://books.google.com.pk/books?id=gJrmszNHQV4C&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content24.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Beautiful Code: Leading Programmers Explain How They Think
        </h6>
    </div>
    <br />
    <br />
    <div class="book26">

            <a href="https://books.google.com.pk/books?id=86rz6UExDEEC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content25.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                The Art of Software Testing
        </h6>
    </div>
    <br />
    <br />
    <div class="book27">

            <a href="https://books.google.com.pk/books?id=-XGAPeVhRs4C&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
            <img src="~/images/content26.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                But how Do it Know?: The Basic Principles of Computers for Everyone
        </h6>
    </div>
    <br />
    <br />
    <div class="book28">

            <a href"https: //books.google.com.pk/books?id =86MqEAAAQBAJ&lpg =PP1&dq =books%20TO%20READS%20FOR%20PROGRAMMER&pg =PP1#v =onepage&q =books%20TO%20READS%20FOR%20PROGRAMMER&f =false">
            <img src="~/images/content27.jpeg" class="rounded float-left" alt="...">
        </a>
        <h6>
                Basic Core Python Programming: A Complete Reference Book to Master Python
        </h6>
    </div>
    <br />
    <br />

    
<div class="book29">

    <a href="https://books.google.com.pk/books?id=DxuGi5h2-HEC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
        <img src="~/images/content28.jpeg" class="rounded float-left" alt="...">
    </a>
    <h6>
        Making Software: What Really Works, and Why We Believe It
    </h6>
</div>
<br />
<br />
<div class="book30">

    <a href="https://books.google.com.pk/books?id=L46fX62D5qYC&lpg=PP1&dq=books%20TO%20READS%20FOR%20PROGRAMMER&pg=PP1#v=onepage&q=books%20TO%20READS%20FOR%20PROGRAMMER&f=false">
        <img src="~/images/content29.jpeg" class="rounded float-left" alt="...">
    </a>
    <h6>
        Learning JavaScript Design Patterns: A JavaScript and jQuery Developer's Guide
    </h6>
</div>
<br />
<br />

    
</body>

  
</html>